* {
  margin: 0;
  padding: 0;
}

.header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: #131921;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
}

.header__logo {
  -o-object-fit: contain;
     object-fit: contain;
  height: 1.5rem;
  margin-left: 1.5rem;
  margin-top: 0.5rem;
}

.header__search {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  margin-left: 1rem;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.header__searchIcon {
  background-color: #febd69 !important;
  padding: 0.35rem;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
}

.header__searchInput {
  outline-width: 0;
  height: 1rem;
  padding: 0.5rem;
  width: 90%;
}

.header__nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.header__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-decoration: none;
  color: white;
  padding: 0.5rem;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.header__firstElement {
  font-size: 12px;
}

.header__secondElement {
  font-size: 14px;
  font-weight: 700;
}

.header__cart {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-decoration: none;
  color: white;
  padding: 0.5rem;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-right: 1rem;
}

.banner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.banner__image {
  -webkit-mask-image: -webkit-gradient(linear, left top, left bottom, from(black), to(rgba(0, 0, 0, 0)));
  -webkit-mask-image: linear-gradient(to bottom, black, rgba(0, 0, 0, 0));
          mask-image: -webkit-gradient(linear, left top, left bottom, from(black), to(rgba(0, 0, 0, 0)));
          mask-image: linear-gradient(to bottom, black, rgba(0, 0, 0, 0));
  margin-bottom: -15rem;
  z-index: -1;
}

.product {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  max-height: 400px;
  min-width: 100px;
  width: 100%;
  background-color: white;
  padding: 1rem;
  margin: 1rem;
}

.product__image {
  width: 100%;
  height: 200px;
  -o-object-fit: contain;
     object-fit: contain;
  margin-bottom: 1rem;
}

.product__price {
  margin-top: 5px;
}

.product__info {
  height: 100px;
  margin-bottom: 1rem;
}

.product button {
  background-color: #febd69;
  border: 1px solid;
  border-color: #a88734 #9c7e31 #846a29;
  padding: 2px 50px;
  width: 300px;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

.product__rating {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.home {
  max-width: 95%;
  margin: 0 auto;
}

.home__products {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.cart__image {
  -o-object-fit: contain;
     object-fit: contain;
  max-width: 80%;
  height: 250px;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

.cart__heading {
  margin: 1rem 1rem;
}

.cart__banner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.cart__summary {
  background-color: white;
  height: 248px;
  width: 100%;
}

.cart__items {
  margin-bottom: 1rem;
}

.cart__emptyImage {
  width: 400px;
  -o-object-fit: contain;
     object-fit: contain;
  margin-right: 3rem;
}

.cart__emptyBanner {
  background-color: white;
  margin: 0 1rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 3rem;
}

.cart__emptyBanner button {
  margin-top: 2rem;
  background-color: #febd69;
  border: 1px solid;
  border-color: #a88734 #9c7e31 #846a29;
  padding: 2px 50px;
}

.cart__emptyInfo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.cartItem {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0 1rem;
  background-color: white;
  padding: 1rem;
}

.cartItem__stars {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.cartItem__image {
  width: 200px;
  height: 200px;
  -o-object-fit: contain;
     object-fit: contain;
}

.cartItem__info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-left: 2rem;
  margin-top: 1rem;
  margin-bottom: 1rem;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.cartItem__info button {
  background-color: #febd69;
  border: 1px solid;
  border-color: #a88734 #9c7e31 #846a29;
  padding: 2px 50px;
  width: 300px;
}
/*# sourceMappingURL=App.css.map */