.product {
  display: flex;
  flex-direction: column;
  max-height: 400px;
  min-width: 100px;
  width: 100%;
  background-color: white;
  padding: 1rem;
  margin: 1rem;
  &__image {
    width: 100%;
    height: 200px;
    object-fit: contain;
    margin-bottom: 1rem;
  }
  &__price {
    margin-top: 5px;
  }
  &__info {
    height: 100px;
    margin-bottom: 1rem;
  }
  button {
    @include default-button;
    align-self: center;
  }
}

.product__rating {
  display: flex;
}
